<div class="card my-4">
  <h5 class="card-header">Leave a Comment:</h5>
  <div class="card-body">
    <%= form_with(model: [post, comment], local: true) do |form| %>
      <% if comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
          <% comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= form.text_area :body, class: "form-control", rows: 3 %>
      </div>
      <%= form.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>