<div class="row">
  <div class="col-lg-8">
    <h1 class="mt-4"><%= @post.title %></h1>
    <p class="lead">
      by
      <a href="#"><%= @post.user.name %></a>
    </p>

    <hr>

    <!-- Date/Time -->
    <p>Posted on <%= @post.created_at.strftime("%b %d, %Y at %I:%M%p") %></p>

    <hr>

    <p class="lead"><%= break_the_lines(@post.body) %></p>

    <hr>

    <%= link_to 'Edit', edit_post_path(@post) if current_user.id == @post.user_id %> |
	<%= link_to 'Back', posts_path %>
    <br>
    <a id="add_comment" href="#">Add Comment</a>
    <div id="create_comment" class="hidden">
      <%= render partial: 'comments/form', locals: {post: @post, comment: @post.comments.build} %>
    </div>

    <% @post.comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: {comment: comment} %>
    <% end %>
  </div>
</div>
